$screen-xsm-max: 775px;
// Small devices
@mixin xsm {
    @media (max-width: #{$screen-xsm-max}) {
        @content;
    }
}

.cabecalhoPrincipal {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include xsm {
            flex-direction: column;
            align-items: initial;
            text-align: center;
        }
    }
}

.cabecalhoPrincipal-nav {
    display: flex;

    @include xsm {
        flex-direction: column;
    }
}

.cabecalhoPrincipal-nav-link-app {
    @include xsm {
        order: -1;
        //faz com o item do menu "Nosso APP" na versão mobile, fique em primeiro lugar na lista
    }
}

.rodapePrincipal-patrocinadores {
    .container {
        display: flex;
        justify-content: space-between;

        @include xsm {
            flex-direction: column;
            align-items: center;
        }
    }
}
.rodapePrincipal-patrocinadores {
    .container {
        .rodapePrincipal-patrocinadores-list {
            display: flex;
            align-items: center;
            width: 70%;
            justify-content: space-around;
            margin-right: 5%;

            @include xsm {
                margin: 0;
                width: 100%;
            }
        }
    }
}
.rodapePrincipal-contatoForm {
    width: 30%;

    @include xsm {
        width: 100%;
    }
}
.rodapePrincipal-contatoForm-fieldset {
    display: flex;

    @include xsm {
        justify-content: center;
    }
}

.rodapePrincipal {
    width: 100%;
}

.subtitulo {
    @include xsm {
        text-align: center;
    }
}
.rodapePrincipal-navMap-list {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;
    
    o flex-flow, substitui ambos os comandos acima*/
    flex-flow: column wrap;
    height: 180px;

    @include xsm {
        height: auto;
    }
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;

    @include xsm {
        flex-direction: column;
    }
}
.conteudoPrincipal-cursos-link {
    width: 23%;

    @include xsm {
        width: 100%;
    }
}
// seleciona os elementos multiplos de x
.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}
// multiplos de 4 + 1, porém começa em 0, então arruma o 1° elemento também
.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
}

.videoSobre {
    .container {
        display: flex;
        justify-content: space-between;

        @include xsm {
            flex-direction: column;
        }
    }
}
.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2; // faz com que essa div menor ocupe o restante do espaço sobrando da div maior
}
.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2; //conforme diminui a tela o video diminui 2x mais que o restante da div

    @include xsm {
        margin: 0 auto;
    }
}
.videoSobre-sobre-list {
    flex-grow: 1;
}
.videoSobre-button {
    margin-left: 4%;
}
